$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color:#99E2D0;
$gradient-color: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
$quaternary-color: var(--Background, #F6F6F6);
$location-color: var(--Grey-2, #EAEAEA);
$white-color: #FFF;
$text-grey: var(--Grey, #353535);
$button-hover-color: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);

$font-family-logo-title: 'Shrikland';
$font-family-txt: 'Roboto';

@keyframes loader {
    from { transform: scaleY(1); }
    to { transform: scaleY(0); }
   }
   @keyframes flash {
        0% {
            color: $primary-color;
            text-shadow : 0 0 80px $primary-color;
        }
        50% {
            color: $secondary-color;
            text-shadow : 0 0 80px $secondary-color;
        }
        70% {
            color: $tertiary-color;
            text-shadow : 0 0 80px $tertiary-color;
        }
        100% { 
            color: white;
            text-shadow : 0 0 80px white;
        }

   }

@keyframes apparition-heart {
    from { opacity: 0; }
    to { opacity: 1; }
  }

@mixin btn-purple {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 218px;
    height: 50px;
    border-radius: 25px;
    border: transparent;
    background: $gradient-color;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    color: $white-color;
    font-size: 16px;
    font-weight: 500;
    &:hover {
        background: $button-hover-color;
        transform: scale(1.1);
    }
}

@mixin btn-fonction {
    display: flex;
    width: 100%;
    height: 72px;
    justify-content: center;
    align-items: center; 
    border: transparent;
    gap: 27px;
    border-radius: 20px;
    background: $quaternary-color;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    font-weight: 500;
    &:hover {
        transform: scale(1.03);
        color: $primary-color;
    }

}


@mixin card-restaurant-radius {
    border-radius: 15px;
}

@mixin card-restaurant-shadow {
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
}

@mixin image-restaurant {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

@mixin fa-heart {
    font-size: 22px;
    position: absolute;
    right: 25px;
}

@mixin btn-footer {
    border: transparent;
    background: #9356DC;
    font-size: 16px;
    font-weight: 500;
}

* {
    font-family: $font-family-txt;
    margin: 0;
    padding: 0;
    text-align: center;
}

.txt-size-1-h {
    font-family: $font-family-logo-title;
    font-size: 28px;
    font-weight: 400;
    color: var(--Black, #101010);
}

.txt-size-2-h {
    font-size: 24px;
    font-weight: 700;
} 

.txt-size-3-h {
    font-size: 18px;
    font-weight: 700;
}

.txt-size-4-h {
    font-size: 18px;
    font-weight: 500;
}

.txt-size-5-h {
    font-size: 16px;
    font-weight: 300;
}



body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
    
}

.main-content {
    width: 100%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: $white-color;
}
                /* loader */

.loader {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100%;
    height: 100%;
    transform-origin: bottom;
    background-color: $white-color;
    animation: loader 1s ease forwards;
    animation-delay: 1s;
  }

  .loader-letter {
    font-size: 10vw;
    color: $primary-color;
    animation: flash  1s linear forwards;
  }
  
  

                /* header */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;

    .header__logo { 
    width: 197px;
    height: 36px;
    padding: 0px 19px 0px 16px;
    }
}

.location {
    width: 100%;
    height: 50px;
    background: $location-color;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    font-size: 16px;
    box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.25);

    .location__location-txt {
        font-weight: 500;
        color: $text-grey;
    }
}

            /*Reservation*/
.reservation {
    display: flex;
    padding: 30px 0px 57px 0px;
    justify-content: center;
    background: $quaternary-color;
    @media (min-width: 1200px) {
        padding: 30px 0px 30px 0px;
    }

    .reservation__reservation-block {
        display: flex;
        align-items: center;
        flex-direction: column;
        align-content: center;
        gap: 20px;
    }

    .reservation__txt-reservation {
        font-size: 18px;
        font-weight: 300;
        color: $text-grey;
    }
    .reservation__btn-purple {
        @include btn-purple();
    }

}           

            /*Fonctionnement*/


.fonctionnement {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    padding: 48px 20px 68px 20px;
    gap: 25px;
    @media (min-width: 1200px) {
        height: 228px;
        padding: 50px 180px 50px 180px;
        
    }

    .fonctionnement__button-fonction-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: transparent;
        box-sizing: border-box;
        padding-left: 10px;
        width: 100%;
        gap: 27px;
        border-radius: 20px;
        font-size: 16px;
        font-weight: 500;
        @media (min-width: 1200px) {
            display: flex;
            flex-direction: row;
        }
        .fonctionnement__button-fonction {
            position: relative;
            @include btn-fonction();
        }
        .fonctionnement__numbers {
            display: flex;
            position: absolute;
            width: 24px;
            height: 24px;
            border-radius: 25px;
            background-color: $primary-color;
            color: $white-color;
            justify-content: center;
            align-items: center;
            left: -10px;
        }
    }
}    
                /* Restaurant */             
                
.fa-heart {
    @include fa-heart();
}
            
.restaurants {
    display: flex;
    flex-direction: column;
    padding: 54px 20px 66px 20px;
    background-color: $quaternary-color;
    align-items: flex-start;
    gap: 18px;
    @media (min-width: 1200px) {
        padding: 30px 180px;
    }
    .restaurants__card-size {
        width: 100%;
    }
    .restaurants__block-restaurants-cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media (min-width: 1200px) {
            gap: 50px;
        }
    }
    .restaurants__version-pc{
        display: flex;
        flex-direction: column;
        gap: 18px;
        @media (min-width: 1200px) {
            flex-direction: row;
            gap: 100px;
        }
    }
    .restaurants__card-restaurant {
        position: relative;
        @include card-restaurant-radius();
        @include card-restaurant-shadow;
        &:hover {
            transform: scale(1.03);
            // .fa-solid.fa-heart{
            //     display: initial;
            //     animation: apparition-heart 2s ease forwards;
            // }
            
        }
        .restaurants__like {
            width: 22px;
            height: 22px;
            &:hover {
                .fa-solid.fa-heart {
                    display: initial;
                    animation: apparition-heart 2s ease forwards;
                }
            }
        }
       
        .fa-solid.fa-heart {
            display: none;
            background: $gradient-color;
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            opacity: 1;
        }   
    }
    .restaurants__restaurant-image {
        height: 231px;
        @include image-restaurant();
        object-fit: cover;
        box-sizing: border-box;
    }
    .restaurants__badge {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 80px;
        height: 29px;
        margin-right: 13px;
        right: 0;
        top: 0;
        margin-top: 13px;
        background: $tertiary-color;
        color: hsla(165, 100%, 26%, 1);
        font-weight: 500;
        font-size: 14px;
    }
    .restaurants__part-txt-card-restaurant {
        display: flex;
        justify-content: space-between;
        padding: 16px 25px 12px 13px;
        color: $text-grey;
        
    }
    .restaurants__txt-card-restaurant {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 17px;
        font-weight: 300;
    }

}    
            /*Footer*/
.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 22px 25px 22px 25px;
    gap: 16px;
    background: $text-grey;
    color: $white-color;
    font-size: 16px;
    font-weight: 500;
    @media (min-width: 1200px) {
        display: flex;
        flex-direction: row-reverse;
        padding: 46px 25px 30px 25px;
    }
    .footer__logo-footer {
        display: flex;
        width: 138px;
        height: 27px;
        font-family: $font-family-logo-title;
        font-style: italic;
        font-size: 18px;
        font-weight: 400;
        
    }
    .footer__footer-txt {
        width: 190px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        color: $white-color;
        gap: 7px;
        @media (min-width: 1200px) {
            flex-direction: row;
            width: 661px;
        }
    }
    .footer__block-footer {
        display: flex;
        gap: 11px;
        @media (min-width: 1200px) {
            width: 186px;
        }
    }    
    
}   




