@keyframes loader {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
@keyframes flash {
  0% {
    color: #9356DC;
    text-shadow: 0 0 80px #9356DC;
  }
  50% {
    color: #FF79DA;
    text-shadow: 0 0 80px #FF79DA;
  }
  70% {
    color: #99E2D0;
    text-shadow: 0 0 80px #99E2D0;
  }
  100% {
    color: white;
    text-shadow: 0 0 80px white;
  }
}
@keyframes apparition-heart {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  text-align: center;
}

.txt-size-1-h {
  font-family: "Shrikland";
  font-size: 28px;
  font-weight: 400;
  color: var(--Black, #101010);
}

.txt-size-2-h {
  font-size: 24px;
  font-weight: 700;
}

.txt-size-3-h {
  font-size: 18px;
  font-weight: 700;
}

.txt-size-4-h {
  font-size: 18px;
  font-weight: 500;
}

.txt-size-5-h {
  font-size: 16px;
  font-weight: 300;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  box-sizing: border-box;
  min-width: 375px;
}

.main-content {
  width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: #FFF;
}

/* loader */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 1410px;
  background-color: #FFF;
  transform-origin: 50% bottom;
  animation: loader 1s ease forwards;
  animation-delay: 1s;
}

.loader-letter {
  font-size: 10vw;
  color: #9356DC;
  animation: flash 1s linear forwards;
}

/* header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
}
.header .header__logo {
  width: 197px;
  height: 36px;
  padding: 0px 19px 0px 16px;
}

.location {
  width: 100%;
  height: 50px;
  background: var(--Grey-2, #EAEAEA);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  font-size: 16px;
  box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.25);
}
.location .location__location-txt {
  font-weight: 500;
  color: var(--Grey, #353535);
}

/*Reservation*/
.reservation {
  display: flex;
  padding: 30px 0px 57px 0px;
  justify-content: center;
  background: var(--Background, #F6F6F6);
}
@media (min-width: 1200px) {
  .reservation {
    padding: 30px 0px 30px 0px;
  }
}
.reservation .reservation__reservation-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  gap: 20px;
}
.reservation .reservation__txt-reservation {
  font-size: 18px;
  font-weight: 300;
  color: var(--Grey, #353535);
}
.reservation .reservation__btn-purple {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  border: transparent;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
}
.reservation .reservation__btn-purple:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  transform: scale(1.1);
}

/*Fonctionnement*/
.fonctionnement {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  padding: 48px 20px 68px 20px;
  gap: 25px;
}
@media (min-width: 1200px) {
  .fonctionnement {
    height: 228px;
    padding: 50px 180px 50px 180px;
  }
}
.fonctionnement .fonctionnement__button-fonction-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: transparent;
  box-sizing: border-box;
  padding-left: 10px;
  width: 100%;
  gap: 27px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
}
@media (min-width: 1200px) {
  .fonctionnement .fonctionnement__button-fonction-block {
    display: flex;
    flex-direction: row;
  }
}
.fonctionnement .fonctionnement__button-fonction-block .fonctionnement__button-fonction {
  position: relative;
  display: flex;
  width: 100%;
  height: 72px;
  justify-content: center;
  align-items: center;
  border: transparent;
  gap: 27px;
  border-radius: 20px;
  background: var(--Background, #F6F6F6);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 500;
}
.fonctionnement .fonctionnement__button-fonction-block .fonctionnement__button-fonction:hover {
  transform: scale(1.03);
  color: #9356DC;
}
.fonctionnement .fonctionnement__button-fonction-block .fonctionnement__numbers {
  display: flex;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 25px;
  background-color: #9356DC;
  color: #FFF;
  justify-content: center;
  align-items: center;
  left: -10px;
}

/* Restaurant */
.fa-heart {
  font-size: 22px;
  position: absolute;
  right: 25px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  padding: 54px 20px 66px 20px;
  background-color: var(--Background, #F6F6F6);
  align-items: flex-start;
  gap: 18px;
}
@media (min-width: 1200px) {
  .restaurants {
    padding: 30px 180px;
  }
}
.restaurants .restaurants__card-size {
  width: 100%;
}
.restaurants .restaurants__block-restaurants-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 1200px) {
  .restaurants .restaurants__block-restaurants-cards {
    gap: 50px;
  }
}
.restaurants .restaurants__version-pc {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media (min-width: 1200px) {
  .restaurants .restaurants__version-pc {
    flex-direction: row;
    gap: 100px;
  }
}
.restaurants .restaurants__card-restaurant {
  position: relative;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.restaurants .restaurants__card-restaurant:hover {
  transform: scale(1.03);
}
.restaurants .restaurants__card-restaurant:hover .fa-solid.fa-heart {
  display: initial;
  transform-origin: bottom 50%;
  animation: apparition-heart 2s ease forwards;
}
.restaurants .restaurants__card-restaurant .fa-solid.fa-heart {
  display: none;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  opacity: 1;
}
.restaurants .restaurants__restaurant-image {
  height: 231px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
  box-sizing: border-box;
}
.restaurants .restaurants__badge {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 80px;
  height: 29px;
  margin-right: 13px;
  right: 0;
  top: 0;
  margin-top: 13px;
  background: #99E2D0;
  color: hsl(165, 100%, 26%);
  font-weight: 500;
  font-size: 14px;
}
.restaurants .restaurants__part-txt-card-restaurant {
  display: flex;
  justify-content: space-between;
  padding: 16px 25px 12px 13px;
  color: var(--Grey, #353535);
}
.restaurants .restaurants__txt-card-restaurant {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 17px;
  font-weight: 300;
}

/*Footer*/
.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 22px 25px 22px 25px;
  gap: 16px;
  background: var(--Grey, #353535);
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
}
@media (min-width: 1200px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 46px 25px 30px 25px;
  }
}
.footer .footer__logo-footer {
  display: flex;
  width: 138px;
  height: 27px;
  font-family: "Shrikland";
  font-style: italic;
  font-size: 18px;
  font-weight: 400;
}
.footer .footer__footer-txt {
  width: 190px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: #FFF;
  gap: 7px;
}
@media (min-width: 1200px) {
  .footer .footer__footer-txt {
    flex-direction: row;
    width: 661px;
  }
}
.footer .footer__block-footer {
  display: flex;
  gap: 11px;
}
@media (min-width: 1200px) {
  .footer .footer__block-footer {
    width: 186px;
  }
}/*# sourceMappingURL=homepage.css.map */