$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color:#99E2D0;
$quaternary-color: var(--Background, #F6F6F6);
$gradient-color: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
$location-color: var(--Grey-2, #EAEAEA);
$white-color: #FFF;
$text-grey: var(--Grey, #353535);
$button-hover-color: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);

$font-family-logo-title: 'Shrikland';
$font-family-txt: 'Roboto';

@keyframes apparition-heart {
    from { opacity: 0; }
    to { opacity: 1; }
  }

@keyframes apparition-menu {
    from { transform: scaleX(0); }
    to { transform: scaleX(1); }
  }

@keyframes apparition-green-validation {
    from { transform: scaleX(0); }
    to { transform: scaleX(1); }
}

@mixin btn-menu {
    white-space: nowrap;
    box-sizing: border-box;
    background-color: $white-color;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    font-size: 15px;
    font-weight: 300;
    border-radius: 20px;

}

@mixin btn-purple {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 218px;
    height: 50px;
    border-radius: 25px;
    border: transparent;
    background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    color: $white-color;
    font-size: 16px;
    font-weight: 500;
    &:hover {
        background: $button-hover-color;
        transform: scale(1.1);
    }
}

@mixin green-validation {
    display: flex;
    width: 60px;
    height: auto;
    background: $tertiary-color;
    border-radius: 0px 15px 15px 0px;
}

.header-menus {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 63px;

    .fa-arrow-left {
        font-size: 30px;
        color: black;
        position: absolute;
        left: 17px;
        bottom: 13px;
        
    }

    .header__logo { 
    width: 197px;
    height: 36px;
    padding: 0px 19px 0px 16px;
    }
}

.menus-image {
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    @media (min-width: 1200px) {
        height: 383px;
    }
}
.main-menus {
    position: relative;
    margin-top: -51px;
    @media (min-width: 1200px) {
    display: flex;
    justify-content: center;
    }
}

.block-menus {
    gap: 40px;
    background-color: $quaternary-color;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 51px 10px 40px 10px;
    border-radius: 40px 40px 0px 0px;
    @media (min-width: 1200px) {
        width: 1200px;
        align-items: center;
        padding: 51px 0px 40px 0px;
    }
}

.block-title {
    display: flex;
    width: 100%;
    justify-content: center;
}

.title-menus {
    width: 341px;
    position: relative;
    display: flex;
    font-style: italic;
    justify-content: center;
    align-items: center;
    
    &:active {
        .fa-solid{
        display: initial;        
        animation: apparition-heart ease forwards;
        }
    }    
    .fa-solid {
        display: none;
        background: $gradient-color;
        background-clip: text;
        color: transparent;
        opacity: 1;
    }   
    
}


.green-bar {
    width: 40px;
    overflow: visible;
    border-bottom: solid 3px $tertiary-color;
    height: 27px; 
}
.apparition-1 {
    transform-origin: left 50%;
    animation: apparition-menu 1s;
}
.apparition-2 {
    transform-origin: left 50%;
    animation: apparition-menu 1.5s;
}
.apparition-3 {
    transform-origin: left 50%;
    animation: apparition-menu 2s;
}

.menus {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    @media (min-width: 1200px) {
        width: 634px;
    }
    .menus__card-menu {
        display: flex;
        flex-direction: row;
        @include btn-menu();
        &:hover {
            .menus__green-validation {
            display: flex;
            background-color: $tertiary-color;
            width: 59px;
            height: auto;
            align-items: center;
            justify-content: center;
            border-radius: 0px 15px 15px 0px;
            transform-origin: right 50%;
            animation: apparition-green-validation 630ms;    
            }
            .fa-circle-check {
                display: initial;
            }
        }
    }
    .menus__block-text-menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
        gap: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        box-sizing: border-box;
    }
    .menus__title-card {
        text-align: start;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: $font-family-txt;
        font-size: 18px;
        font-weight: 500;
    }
    .menus__txt-menu {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .menus__txt-length {
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .menus__price {
        font-size: 15px;
        font-weight: 700;
    }   
    .fa-circle-check {
        display: none;
        background-color: $tertiary-color;
        color: $white-color;
        border-radius: 50%;
        font-size: 22px;
    }
}

.block-commander {
    width: 100%;
    display: flex;
    justify-content: center;
    .commander__btn-purple {
        @include btn-purple()
    }
}