@keyframes apparition-menu {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
@keyframes apparition-green-validation {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
.header-menus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 63px;
}
.header-menus .fa-arrow-left {
  font-size: 30px;
  color: black;
  position: absolute;
  left: 17px;
  bottom: 13px;
}
.header-menus .header__logo {
  width: 197px;
  height: 36px;
  padding: 0px 19px 0px 16px;
}

.menus-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  display: flex;
  justify-content: center;
}
@media (min-width: 1221px) {
  .menus-image {
    height: 383px;
  }
}
.menus-image .menus-image__bottom-image {
  display: flex;
  width: 100%;
  position: absolute;
  height: 51px;
  background-color: var(--Background, #F6F6F6);
  bottom: 0;
  border-radius: 40px 40px 0px 0px;
}
@media (min-width: 1221px) {
  .menus-image .menus-image__bottom-image {
    width: 1221px;
  }
}

@media (min-width: 1221px) {
  .main-menus {
    display: flex;
    justify-content: center;
  }
}

.block-menus {
  gap: 40px;
  background-color: var(--Background, #F6F6F6);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 10px 40px 10px;
}
@media (min-width: 1221px) {
  .block-menus {
    width: 1221px;
    align-items: center;
    padding: 0;
    padding-bottom: 40px;
  }
}

.title-menus {
  width: 100%;
  display: flex;
  font-style: italic;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.title-menus .restaurants__fa-heart {
  position: relative;
  margin-left: 25px;
  animation: apparition-heart 2s ease forwards;
}

.green-bar {
  width: 40px;
  overflow: visible;
  border-bottom: solid 3px #99E2D0;
  height: 27px;
}

.menus {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
@media (min-width: 1221px) {
  .menus {
    width: 634px;
  }
}
.menus .menus__card-menu {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  box-sizing: border-box;
  background-color: #FFF;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-size: 15px;
  font-weight: 300;
  border-radius: 20px;
  transform-origin: 50% bottom;
  animation: apparition-menu 500ms;
}
.menus .menus__card-menu:hover .menus__green-validation {
  display: flex;
  background-color: #99E2D0;
  width: 59px;
  height: auto;
  align-items: center;
  justify-content: center;
  border-radius: 0px 15px 15px 0px;
  transform-origin: right 50%;
  animation: apparition-green-validation 630ms;
}
.menus .menus__card-menu:hover .fa-circle-check {
  display: initial;
}
.menus .menus__block-text-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  gap: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}
.menus .menus__block-text-menu:hover {
  transition: transform 2s ease;
}
.menus .menus__title-card {
  text-align: start;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
}
.menus .menus__txt-menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.menus .menus__txt-length {
  overflow: hidden;
  text-overflow: ellipsis;
}
.menus .menus__price {
  font-size: 15px;
  font-weight: 700;
}
.menus .fa-circle-check {
  display: none;
  background-color: #99E2D0;
  color: #FFF;
  border-radius: 50%;
  font-size: 22px;
}

.block-commander {
  width: 100%;
  display: flex;
  justify-content: center;
}
.block-commander .commander__btn-purple {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  border: transparent;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
}
.block-commander .commander__btn-purple:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  transform: scale(1.1);
}/*# sourceMappingURL=menu.css.map */