

                    /* header */
header {
    display: flex;
    gap: 42px;
    justify-content: center;
    align-items: center;
}

header img {
    width: 162px;
    height: 44px;
}

.fa-arrow-left {
    font-size: 30px;
    color: black;
}

                    /* Image */

.menu-image {
    width: 100%;
    object-fit: cover;
}

                    /* Main */
main {
    display: flex;
    flex-direction: column;
    padding: 0px 13px 40px 13px;
    gap: 40px;
    background-color: var(--Background, #F6F6F6);
}

                    /* Titre du menu */
.title-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 24px;
}
                    /* Menu */

.menus {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.green-bar {
    display: flex;
    flex-direction: column;
    border-bottom: solid hsla(165, 56%, 74%, 1);
    height: 27px;
}

.card-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 15px;
    padding: 15px;
    background-color: white;
}

.txt-menu {
    display: flex;
    align-content: space-between;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
    font-weight: 300;

}

.price {
    color: #353535;
    font-weight: 700;
}

            /* Commander */

.block-commander {
    display: flex;
    justify-content: center;
}            