                    /* Générales */
* {
font-family: "Roboto";
margin: 0;
padding: 0;
text-align: center;
}
                      
h2 {
    font-family: "Shrikhand";
    font-size: 28px;
    font-weight: 400;
}
                      
h3 {
font-family: "Roboto";
font-size: 24px;
font-weight: 700;
}

h4 {
    font-size: 18px;
    font-weight: 700;
}

                      
h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
}



a {
    color: #FFF;
    text-decoration: none;
}

                      
body {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
margin: 0;
box-sizing: border-box;
}
                      
.main-content {
width: 100%;
max-width: 768px;
box-sizing: border-box;
margin-left: auto;
margin-right: auto;
}


.button-purple {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 218px;
    height: 50px;
    border-radius: 25px;
    border: transparent;
    background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 16px;
    font-weight: 500;
}

                    /* header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 89px 13px 89px;
}

header img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 197px;
    height: 36px;
    padding: 0px 19px 0px 16px;
}

.location {
    width: 100%;
    height: 50px;
    background: var(--Grey-2, #EAEAEA);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
}

.fa-location-dot {
    font-size: 16px;
}

.txt-location {
    font-size: 16px;
    font-weight: 500;
    color: var(--Grey, #353535);
}

            /* Reservation */

.reservation {
    display: flex;
    padding: 30px 0px 57px 0px;
    justify-content: center;
    background: var(--Background, #F6F6F6);
}

.reservation-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.txt-reservation {
    font-size: 18px;
    font-weight: 300;
    color: var(--Grey, #353535);
}

            /* Fonctionnement */
     
.fonctionnement {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    padding: 48px 20px 68px 20px;
    gap: 25px;
}

.button-fonction-block {
    display: flex;
    width: 100%;
    gap: 25px;
    padding: 0px 0px 0px 10px;
    flex-direction: column;
    box-sizing: border-box;
}

.button-fonction {
    display: flex;
    justify-content: center;
    width: 100%;
    border: transparent;
    gap: 27px;
    border-radius: 20px;
    padding: 28px 38px 28px 34px;
    background: var(--Background, #F6F6F6);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    font-weight: 500;
}

                /* Restaurants */

.restaurants {
    display: flex;
    flex-direction: column;
    padding: 54px 20px 66px 20px;
    background-color: hsla(0, 0%, 97%, 1);
    align-items: flex-start;
    gap: 18px;
}

.block-restaurants-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.card-restaurant {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
}


.card-restaurant img {
    width: 100%;
    height: 231px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
    box-sizing: border-box;
}

.badge {
    position: absolute;
    margin-top: 20px;
    margin-left: 80%;
    padding: 7px 9px 6px 9px;
    background-color: var(--Green, #99E2D0);
    color: var(--Green-Font, #008766);
    font-size: 14px;
    font-weight: 500;
}

.part-txt-card-restaurant {
    display: flex;
    justify-content: space-between;
    padding: 16px 25px 12px 13px;
    color: #353535;
}

.txt-card-restaurant {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 17px;
    font-weight: 300;
}

.fa-heart {
    font-size: 22px;
}

            /* Footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 22px 25px 22px 25px;
    gap: 16px;
    background: var(--Grey, #353535);
    color: white;
    font-size: 16px;
    font-weight: 500; 
}

.logo-footer {
color: var(--White, #FFF);
font-family: Shrikhand;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.footer-txt {
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: flex-start;
}

.block-footer {
    display: flex;
    gap: 10px;
}

.button-footer {
    border: transparent;
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: 500;
}


            


